<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initialscale=1.0">
    <title>Canes Grill</title>
</head>
<body>
    <h1>Canes Grill - Churras</h1>
    <h2>Bom Churrasco a todos!</h2>
    <h1>BASE</h1>
    {% block conteudo%} {% endblock %}
    <table border="1">
        <thead>
            <tr>
                <td>Tipo</td>
                <td>Nome do Prato</td>
                <td>Resumo</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Churrasco</td>
                <td>Picanha</td>
                <td>Considerada por muitos como a mais nobre e
procurada carne de churrasco, a picanha pode ser servida ao ponto ,
malpassada ou bem passada. Suculenta e com sua característica capa de
gordura.</td>
            </tr>
        </tbody>
    </table>
</body>
</html>